---
title: Welcome to Middleman
---
<div id="container">
  <div class="welcome">
    <h1>Middleman Feat. Backbone</h1>
    <ul id="notes"></ul>
    <button id="my-button" class="btn">Reset &amp; Fetch</button>
  </div><!-- .welcome -->
</div>